:root {
    --streamify360-com-semantic-heading-1-font-family: "Inter", Helvetica;
    --streamify360-com-semantic-heading-1-font-weight: 900;
    --streamify360-com-semantic-heading-1-font-size: 76px;
    --streamify360-com-semantic-heading-1-letter-spacing: 0px;
    --streamify360-com-semantic-heading-1-line-height: 76px;
    --streamify360-com-semantic-heading-1-font-style: normal;
    --streamify360-com-semantic-heading-2-font-family: "Inter", Helvetica;
    --streamify360-com-semantic-heading-2-font-weight: 800;
    --streamify360-com-semantic-heading-2-font-size: 28px;
    --streamify360-com-semantic-heading-2-letter-spacing: 0px;
    --streamify360-com-semantic-heading-2-line-height: 28px;
    --streamify360-com-semantic-heading-2-font-style: normal;
    --streamify360-com-semantic-heading-2-upper-font-family: "Inter", Helvetica;
    --streamify360-com-semantic-heading-2-upper-font-weight: 800;
    --streamify360-com-semantic-heading-2-upper-font-size: 20px;
    --streamify360-com-semantic-heading-2-upper-letter-spacing: 0px;
    --streamify360-com-semantic-heading-2-upper-line-height: 30px;
    --streamify360-com-semantic-heading-2-upper-font-style: normal;
    --streamify360-com-semantic-heading-6-font-family: "Inter", Helvetica;
    --streamify360-com-semantic-heading-6-font-weight: 700;
    --streamify360-com-semantic-heading-6-font-size: 19px;
    --streamify360-com-semantic-heading-6-letter-spacing: 0px;
    --streamify360-com-semantic-heading-6-line-height: 28.5px;
    --streamify360-com-semantic-heading-6-font-style: normal;
    --streamify360-com-semantic-item-font-family: "Jost", Helvetica;
    --streamify360-com-semantic-item-font-weight: 700;
    --streamify360-com-semantic-item-font-size: 19px;
    --streamify360-com-semantic-item-letter-spacing: 0px;
    --streamify360-com-semantic-item-line-height: 30.399999618530273px;
    --streamify360-com-semantic-item-font-style: normal;
    --streamify360-com-semantic-link-font-family: "Jost", Helvetica;
    --streamify360-com-semantic-link-font-weight: 400;
    --streamify360-com-semantic-link-font-size: 19px;
    --streamify360-com-semantic-link-letter-spacing: 0px;
    --streamify360-com-semantic-link-line-height: 30.399999618530273px;
    --streamify360-com-semantic-link-font-style: normal;
    --streamify360-com-semantic-strong-font-family: "Inter", Helvetica;
    --streamify360-com-semantic-strong-font-weight: 700;
    --streamify360-com-semantic-strong-font-size: 18px;
    --streamify360-com-semantic-strong-letter-spacing: 0px;
    --streamify360-com-semantic-strong-line-height: 23.399999618530273px;
    --streamify360-com-semantic-strong-font-style: normal;
    --streamify360-com-jost-regular-font-family: "Jost", Helvetica;
    --streamify360-com-jost-regular-font-weight: 400;
    --streamify360-com-jost-regular-font-size: 19px;
    --streamify360-com-jost-regular-letter-spacing: 0px;
    --streamify360-com-jost-regular-line-height: 19px;
    --streamify360-com-jost-regular-font-style: normal;
    --streamify360-com-jost-bold-font-family: "Jost", Helvetica;
    --streamify360-com-jost-bold-font-weight: 700;
    --streamify360-com-jost-bold-font-size: 60px;
    --streamify360-com-jost-bold-letter-spacing: 0px;
    --streamify360-com-jost-bold-line-height: 60px;
    --streamify360-com-jost-bold-font-style: normal;
    --streamify360-com-jost-semibold-font-family: "Jost", Helvetica;
    --streamify360-com-jost-semibold-font-weight: 600;
    --streamify360-com-jost-semibold-font-size: 14px;
    --streamify360-com-jost-semibold-letter-spacing: 0px;
    --streamify360-com-jost-semibold-line-height: 14px;
    --streamify360-com-jost-semibold-font-style: normal;
  }
  